:root {
  --primary: royalblue;
  --secondary : black;
  --positive : yellowgreen;
  --negative : crimson;
}

.btn {
  border: none;
  padding:5px 20px;
  border-radius: 5px;
  color:#fff;
}
.btn.primary {
  background-color: var(--primary)
}
.btn.secondary {
  background-color: var(--secondary)
}
.btn.positive {
  background-color: var(--positive)
}
.btn.negative {
  background-color: var(--negative)
}

:root {
  --big: 50px;
  --medium: 30px;
  --small: 14px;
}
.container h1 {
  font-size: var(--big);
}
.container h3 {
  font-size: var(--medium);
}
.container p {
  font-size: var(--small);
}