/* Google Web Font */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard,-apple-system, Roboto, 'Noto Sans KR',  sans-serif;
  box-sizing: border-box;
}
body {
    color:#333;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.frame {
    display: flex;
    gap: 40px;
}
.hexagon { /* 배치를 편하게 하기 위해서 만든 div */
    width: 400px;
    height: 450px;
    position:relative;
    transition: 0.5s;
}
.shape {
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
    transition: 0.5s;
}
.shape img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.frame > .hexagon:nth-child(1) img {
    object-position: right;
}
/* Caption */
.hexagon .caption {
    position:absolute;
    width: inherit;
    height: inherit;
    color:#fff;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px;
    transform: translateY(20px);
    opacity: 0;
}
.hexagon:hover .caption {
    opacity: 1;
    transform: translateY(0);
}
.hexagon:nth-child(1) .caption {
    background: linear-gradient(to top, crimson, transparent);
}
.hexagon:nth-child(2) .caption {
    background: linear-gradient(to top, royalblue, transparent);
}
.hexagon:nth-child(3) .caption {
    background: linear-gradient(to top, yellowgreen, transparent);
}
.hexagon .caption h2 {
    font-size: 2em;
}
.hexagon:hover .shape {
    transform: translateY(-60px);
}

.hexagon::before {
    content: '';
    position:absolute;
    bottom:-70px;
    width: 100%;
    height: 60px;
    background-color: #000;
    background: radial-gradient(rgba(0, 0, 0, 0.3), transparent, transparent);
    transition: 0.5s;
}
.hexagon:hover:before {
    opacity: 0.6;
    transform: scale(0.8);
    bottom:-70px;
}
