/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


* {
  box-sizing: border-box;
}
 
body {
  /* font-family: 'Noto Sans KR', sans-serif ; */
  font-family: 'Raleway', sans-serif;
  margin: 0;
  left: 1.6em;
  font-weight: 300;
  font-size: 20px;
}
a {
  text-decoration: none;
}
h1 { 
  margin-top:0;
}

.modal-notice {
    display: block;
    margin:30px;
}
.modal {
    /* 모달은 어디에 뜰지 모르니까 fixed로 고정
    position:absolute or fixed를 주면 inline-block으로 바뀜*/
    position:fixed; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top:0;
    left:0;
    height: 100vh;
    display: none;
}   
.modal:target {
  display: block;
}
.modal.active {
  display: block;
}
.modal-content {
 background-color: #fff;
 width: 350px;
 border-radius: 10px;
 position: absolute;
 top:50%;
 left: 50%;
 transform: translate(-50%,-50%);
 padding:30px;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
 text-align: center;
 animation: slidefade 0.35s linear;
}
.btn-close {
    position: absolute;
    top:15px;
    right: 15px;
}
.btn-guide {
    background-color: #616BEE;
    display: block;
    color:#fff;
    border-radius: 5px;
    font-size: 14px;
    padding:7px;
    width:100%;
}
@keyframes slidefade {
  0% {
    opacity: 0;
    margin-top:-100px;
  }
  100% {
    opacity: 1;
    margin-top: 0x;
  }
}